/* CSS by GenerateCSS.com */
a {color: #ffffff;
font-weight: normal;
text-decoration: none;
background-color: #b34040;
padding: 10px;
margin: 0px;}

a:hover {color: #000000;
font-weight: normal;
text-decoration: none;
cursor: auto;
background-color: #990000;
padding: 10px;
margin: 0px;}