<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Изменить телефон</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" >
</head>
<body>
    <form th:action="@{/modifayphone}" th:object="${phoneForm}"  method="POST">
        Модель<br>
        <input type="text" th:field="*{modelName}"> <br>
        Цена<br>
        <input type="text" th:field="*{price}"> <br>
        Цвет<br>
        <input type="text" th:field="*{color}"> <br>
        Количество<br>
        <input type="text" th:field="*{quantity}"> <br>
        Количетсво мегапикселей камеры<br>
        <input type="text" th:field="*{numOfMegapixels}"> <br>
        Операционная система<br>
        <input type="text" th:field="*{OS}"> <br>
        Диагональ экрана<br>
        <input type="text" th:field="*{screenDiagonal}"> <br>
        Ёмкость батареи<br>
        <input type="text" th:field="*{batteryCapacity}"> <br>
        Память<br>
        <input type="text" th:field="*{memory}"> <br>
        Оперативная память<br>
        <input type="text" th:field="*{RAM}"> <br>
        Фотография<br>
        <input type="file" th:field="*{pictures}" multiple accept="image/*,image/jpeg"> <br> <br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>