<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый телефон</title>
</head>

<body>
    <form th:action="@{/addphone}" th:object="${phoneForm}"  method="POST">
        Модель<br>
        <input type="text" th:field="*{modelName}">
        Цена<br>
        <input type="text" th:field="*{price}">
        Цвет<br>
        <input type="text" th:field="*{color}">
        Количество<br>
        <input type="text" th:field="*{quantity}">
        Количетсво мегапикселей камеры<br>
        <input type="text" th:field="*{numOfMegapixels}">
        Операционная система<br>
        <input type="text" th:field="*{OS}">
        Диагональ экрана<br>
        <input type="text" th:field="*{screenDiagonal}">
        Ёмкость батареи<br>
        <input type="text" th:field="*{batteryCapacity}">
        Память<br>
        <input type="text" th:field="*{memory}">
        Оперативная память<br>
        <input type="text" th:field="*{RAM}">
        Фотография<br>
        <input type="file" th:field="*{pictures}" multiple accept="image/*,image/jpeg">
        <button type="submit">Добавить</button>
    </form>
</body>
</html>