<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phone form </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Phone</h1>
<table>
    <thead>
    <th>Model</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Color</th>
    <th>Creation data</th>
    <th>OS</th>
    </thead>
    <tbody>
    <tr th:each="prod: ${phones}">
        <td th:text="${prod.features.name}" align="left">Features</td>
        <td th:text="${prod.price}" align="left">Price</td>
        <td th:text="${prod.quantity}" align="left">Quantity</td>
        <td th:text="${prod.color}" align="left">Color</td>
        <td th:text="${prod.creation_data}" align="left">CreationData</td>
        <td th:text="${prod.features.OS}" align="left">OS</td>
        <td align="left">
            <img src="images/black.jpg" width="300" height="300"/>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>