<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Базар вокзал </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" >
</head>
<body>
<h1>Базар вокзал</h1>
<a th:href="@{/newphone}">Добавить новый телефон</a>
<table>
    <thead>
    <th>Model</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Color</th>
    <th>Creation data</th>
    <th>OS</th>
    </thead>
    <tbody>
    <tr th:each="prod: ${phones}">
        <td th:text="${prod.model.name}" align="left">Nmae</td>
        <td th:text="${prod.price}" align="left">Price</td>
        <td th:text="${prod.quantity}" align="left">Quantity</td>
        <td th:text="${prod.color}" align="left">Color</td>
        <td th:text="${prod.creation_data}" align="left">CreationData</td>
        <td th:text="${prod.model.OS}" align="left">OS</td>
        <td>
            <img width="90" height="90"
                 th:src="@{'data:image/jpeg;base64,'+${prod.pictures.encodeImage()}}"/>
        </td>
        <td>
            <button class="deletebutton"
            th:onclick="@{'if (confirm(\'Delete this phone?\')) location.href='+'\'/deletephone?phoneId='+${prod.getId()}+'\''}">
                Удалить
            </button>
        </td>
        <td>
            <a th:href="@{/modifayphone(phoneId=${prod.getId()})}"
               class="modifylink">Изменить</a>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>